@font-face {
	/* Reference name */
	font-family: 'MPLUSRounded1c';
	/* For multiple files use commas, ex: url(), url(), ... */
	src: url('/fonts/MPLUSRounded1c-Regular.ttf');
}
:root {
  --theme-font-family-base: 'MPLUSRounded1c', sans-serif;
    --theme-font-family-heading: 'MPLUSRounded1c', sans-serif;
}

body { 
    background: url('/mesh.webp');
    background-size: cover;
 }
html, body { @apply h-full overflow-hidden; }


input::-webkit-calendar-picker-indicator {
    @apply dark:invert;
}